<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">

<head>
    <title>Jobs List</title>
</head>

<body>
<section class="about-page" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1>List of Courses</h1>
                <hr>
            </div>
            <div class="col-md-2">
                <a href="/courses/add" class="btn btn-success">Add Course</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" th:each="course, stat : ${courses}">
                <!--  Start of Thumbnail -->
                <div class="thumbnail">
                    <img src="https://source.unsplash.com/1600x900/?code" alt="course image">
                    <div class="caption">
                        <h3><a th:href="@{/courses/details/{id}(id=${course.id})}" th:text="${course.title}"></a> <span class="badge" th:text="${stat.index + 1}">1</span></h3>
                        <td><b>Instructor: </b>[[${course.instructor}]]</td>
                        <p><b>Credits: </b>[[${course.credit}]]</p>
                        <p><b>Description: </b>[[${course.description}]]</p>
                        <p><a th:href="@{/courses/details/{id}(id=${course.id})}" class="btn btn-primary" role="button">Details</a>
                            <!--  <span class="badge" th:text="${stat.index + 1}">1</span>-->
                        </p>
                    </div>
                </div>
                <!-- End of Thumbnail -->
            </div>
        </div>
    </div>
</section>
</body>

</html>