<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">

<head>
    <title>Jobs List</title>
</head>

<body>
<section class="about-page" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1>List of Courses</h1>
                <hr>
            </div>
            <div class="col-md-2">
                <a href="/courses/add" class="btn btn-success">Add Course</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Course #</th>
                            <th>Title</th>
                            <th>Instructor</th>
                            <th> Description</th>
                            <th> Credit</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="course, stat : ${courses}">
                            <td th:text="${stat.index + 1}">1</td>
                            <td><a th:href="@{/courses/details/{id}(id=${course.id})}" th:text="${course.title}"></a></td>
                            <td th:text="${course.instructor}"></td>
                            <td th:text="${course.description}"></td>
                            <td>[[${course.credit}]]</td>
                            <td>
                        <!--   <a th:href="@{/courses/update/{id}(id=${course.id})}">Update</a>-->
                                <a th:href="@{/courses/details/{id}(id=${course.id})}">Details</a>
                        <!--  <a th:href="@{/delete/{id}(id=${course.id})}">Delete</a>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>