<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">

<head>
    <title>Course Details</title>
</head>

<body>
<section class="course-page" layout:fragment="content">
    <div class="container">
        <h1>
            <a href="/courses/list"><small><i class="fa fa-chevron-left text-danger" aria-hidden="true"></i></small> </a> &nbsp;
            Course Details for <i class="text-muted"> [[${course.title}]]</i></h1>
        <hr />
    <!-- Start of panel       -->
        <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading"><h1>Course Title: <i class="text-muted">[[${course.title}]]</i></h1></div>
            <div class="panel-body">
                <h3>Instructor: <i class="text-muted">[[${course.instructor}]]</i></h3>
                <h4>Credits <i class="text-muted">[[${course.credit}]]</i></h4>
                <hr />
                <h3>Course Details</h3>
                <p class="text-muted"> [[${course.description}]]</p>
            </div>
        </div>
        </div>
    <!--End of panel        -->
        <div class="col-md-2">
            <div class="well well-lg">
                <a class="btn btn-success" th:href="@{/courses/update/{id}(id=${course.id})}" style="margin-bottom:8px;">Update</a>
                <a class="btn btn-danger" th:href="@{/delete/{id}(id=${course.id})}" onclick="return confirm('Are you sure you want to delete this course?');">Delete</a>
            </div>
        </div>
    </div>
</section>
</body>

</html>
