<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

    <title>Home</title>
<body>
<div class="home-page"  layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1>Music Management System</h1>
                    <p>Developed by Mahmoud Osman</p>
                </div>
            </div>

        </div>

    </div>
</div>
</body>
</html>