<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <title>Home</title>
</head>

<body>
<div class="home-page"  layout:fragment="content">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1>App Management System</h1>
                    <p>Developed by Mahmoud Osman</p>
                </div>
            </div>

        </div>

    </div>
</div>
</body>
</html>
