<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

    <title>All Songs</title>

<body>
<div class="list-of-songs" layout:fragment="content">
    <div class="container">
        <h1>List of Songs</h1>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <p>Song name is: [[${song.name}]]</p>
                <p>Artist name is: [[${song.artist}]]</p>
                <p>The album name is: [[${song.album}]]</p>
                <p>The song rating is: [[${song.rating}]]</p>
                <p>Year produced is: [[${song.year}]]</p>

            </div>


        </div>
    </div>
</div>
</body>
</html>