<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<title>All Songs</title>

<body>
<section class="list-of-songs" layout:fragment="content">
    <div class="container">
        <h1>List of Songs</h1>
        <hr />
        <div class="row">
            <div class="col"></div>
            <div class="col-md-6">
                <!--=========== Start of card ===========-->
                <div class="card">
                    <img class="card-img-top" src="https://source.unsplash.com/1600x900/?music" alt="Card image">
                    <div class="card-body">
                        <h5 class="card-title">Artist name is: [[${song.artist}]]</h5>
                        <p class="card-text">Album name is: [[${song.album}]]</p>
                        <p class="card-text">Song rating is: [[${song.rating}]]</p>
                        <p class="card-text">Year produced is: [[${song.year}]]</p>
                        <p class="card-text">Song details: [[${song.details}]]</p>
                        <a href="#" class="btn btn-primary">BUY</a>
                    </div>
                </div>
                <!--=========== End of card ===========-->
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>
</body>

</html>