<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<title>Actor Form</title>

<body>
<div class="actor-form" layout:fragment="content">
	<div class="container">
		<h1 class="text-info">Add New Actor</h1>
		<hr />
		<form action="#" th:action="@{/processActorForm}" th:object="${actor}" method="POST">
			<!-- Show success alert when new actor is registered-->
			<div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label th:field="*{name}"><b>Actor Name</b></label>
						<input type="text" name="name" th:field="*{name}" class="form-control form-control-lg input-lg" placeholder="Enter actor name" />
						<p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label th:field="*{realname}"><b>Actor Real Name</b></label>
						<input type="text" th:field="*{realname}" class="form-control form-control-lg input-lg" placeholder="Enter actor real name" />
						<p class="alert alert-danger" th:if="${#fields.hasErrors('realname')}" th:errors="*{realname}"></p>
					</div>
				</div>
			</div>
			<!-- Start of 2nd row -->
			<!--            <div class="row">-->
			<!--                <div class="col-md-6">-->
			<!--                    <div class="form-group">-->
			<!--                        <label th:field="*{title}"><b>Movie Title</b></label>-->
			<!--                        <input type="text" th:field="*{title}" class="form-control form-control-lg input-lg" placeholder="Enter movie title" />-->
			<!--                        <p class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>-->
			<!--                    </div>-->
			<!--                </div>-->
			<!--            </div>-->
			<!-- End of 2nd row -->
			<button type="submit" class="btn btn-success btn-lg">
				Add Actor
			</button>
		</form>
	</div>
</div>
</body>

</html>