<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<title>All Songs</title>
<body>
<section class="list-of-songs" layout:fragment="content">
    <div class="container">
        <h1>List of Songs</h1>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <!--=========== Start of card ===========-->
                <div class="card">
                    <img class="card-img-top img-responsive" src="https://source.unsplash.com/1600x900/?music" alt="song image">
                    <div class="card-body">
                        <h5 class="card-title"><b>Artist name is:</b> [[${song.artist}]]</h5>
                        <p class="card-text"><b>Album name is:</b> [[${song.album}]]</p>
                        <p class="card-text"><b>Song rating is: </b>[[${song.rating}]]</p>
                        <p class="card-text"><b>Year produced is:</b> [[${song.year}]]</p>
                        <p class="card-text"><b>Song details:</b> [[${song.details}]]</p>
                        <a href="#" class="btn btn-primary">BUY</a>
                    </div>
                </div>
                <!--=========== End of card ===========-->
            </div>

        </div>
    </div>
</section>
</body>

</html>
