<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<title> Songs Form</title>

<body>
<div class="job-form-page" layout:fragment="content">
    <div class="container">
        <h1>Job Form</h1>
        <hr />

            <form action="#" th:action="@{/process}" th:object="${job}"  method="POST">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" th:field="*{title}" class="form-control form-control-lg input-lg" placeholder="Enter job title" required >
                              <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                   </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" th:field="*{employer}" class="form-control form-control-lg input-lg" placeholder="Enter employer name" required>
                        <span th:if="${#fields.hasErrors('employer')}" th:errors="*{employer}"></span>
                    </div>
                </div>
            </div>
            <!--  Row 2-->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea th:field="*{description}" cols="30" rows="10" class="form-control form-control-lg input-lg" placeholder="Enter job description" required></textarea>
                        <span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-lg">SUBMIT</button>
        </form>
    </div>
</div>
</body>

</html>
