<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">

<head>
    <title>Jobs List</title>
</head>

<body>
<div class="about-page" layout:fragment="content">
    <div class="container">
        <!-- Start of row 1-->
        <div class="col-md-10">
            <h1>List of Jobs</h1>
            <hr>
        </div>
        <div class="col-md-2">
            <a href="/jobs/add" class="btn btn-success">Add A Job</a>
        </div>
        <!-- End of row 2        -->
        <div class="row">
            <div class="col-md-10 well well-lg">
                <div th:each="job : ${jobs}">
                    <h2><a href="#">[[${job.title}]]</a></h2>
                    <h4>[[${job.employer}]]</h4>
                    <p>[[${job.description}]]</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>