<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">

<head>
    <title>Home</title>
</head>

<body>
<section class="home-page" layout:fragment="content">
    <<div class="page-layout left">
    <div class="container">
        <div class="row">
            <div class="co-mid-6">
                <h2>Spring Boot</h2>
            </div>
        </div>
    </div>
</div>
    <div class="page-layout right">
        <div class="page-content">
            <h1>App Management System</h1>
            <br />
            <p>
                Developed by <a href="www.mahmoudosman.com" target="_blank">Mahmoud Osman</a>
            </p>
        </div>
    </div>
</section>
</body>

</html>