<section class="footer" th:fragment="footer" style="margin-top:60px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>&copy; Copyright <script>
                    document.write(new Date().getFullYear())
                    </script> Developed by <a href="www.mahmoudosman.com">Mahmoud Osman</a></p>
                <!-- javascripts code -->
                <script type="text/javascript" th:src="@{/js/script.js}"></script>
            </div>
        </div>
    </div>
</section>