<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<title> Course Form</title>

<body>

<!--<div th:replace="fragments/navbar :: navigation"></div>-->
<div class="job-form" layout:fragment="content">

    <div class="container">

        <h1>Add New Course</h1>
        <hr />
        <form action="#" th:action="@{/process}" th:object="${course}" method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label th:field="*{title}"><b>Course Title</b></label>
                        <input type="text" th:field="*{title}" class="form-control form-control-lg input-lg" placeholder="Enter course title" required>
                        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label th:field="*{instructor}"><b>Instructor Name</b></label>
                        <input type="text" th:field="*{instructor}" class="form-control form-control-lg input-lg" placeholder="Enter instructor name" required>
                        <span th:if="${#fields.hasErrors('instructor')}" th:errors="*{instructor}"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label th:field="*{credit}"><b>Course Credit</b></label>
                        <input type="text" th:field="*{credit}" class="form-control form-control-lg input-lg" placeholder="Enter course credit" required>
                        <span th:if="${#fields.hasErrors('credit')}" th:errors="*{credit}"></span>
                    </div>
                </div>
            </div>
            <!--  Row 2-->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label th:field="*{description}"><b>Course Description</b></label>
                        <textarea th:field="*{description}" cols="30" rows="10" class="form-control form-control-lg input-lg" placeholder="Enter course description" required></textarea>
                        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-lg">Add Course</button>
        </form>
    </div>
</div>
</body>

</html>
